<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
         bootstrap="tests/boot.php"
         verbose="true"
         strict="false">

    <testsuites>
        <testsuite name="SendyPHP">
            <directory>tests/SendyPHP</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
</phpunit>